* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.body {
    position: fixed;
    top: 0;
    height: 56px;
    height: fit-content;
    width: 100%;
    font-family: 'Manrope';
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 56px;
    margin: 0;
}
.header {
    font-family: 'Manrope';

    position: fixed;
    top: 0;
    width: 100%;
    height: 56px;
    background-color: #27272a;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    a {
        text-decoration: none;
        color: aliceblue;
    }
    .headerLeft {
        margin: 0 0 0 10px;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        flex-basis: 10%;
        span {
            // margin: 0 10px 0 0;
            padding: 2px 10px 2px 10px;
            font-size: 1.5rem;
            font-weight: 600;
            color: #ffffff;
            flex-flow: row wrap;
            cursor: default;
        }
        &:hover {
            .competitive {
                color: #ff0099;
                background-color: #25ed6e;
                border-radius: 10px 0px 0px 10px;
            }
            .developer {
                color: #25ed6e;
                background-color: #ff0099;
                border-radius: 0px 10px 10px 0px;
            }
        }
        .competitive {
            color: #25ed6e;
            background-color: #ff0099;
            border-radius: 10px 0px 0px 10px;
        }
        .developer {
            color: #ff0099;
            background-color: #25ed6e;
            border-radius: 0px 10px 10px 0px;
        }
    }
    .headerCenter {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        gap: 12px;
        border-radius: 8px;
        flex-basis: 70%;
        .navigation {
            margin: 2px;
            display: flex;
            flex-flow: row wrap;
            align-items: baseline;
            padding: auto;
            color: #c7cdf1;

            .links {
                position: relative;
                &:hover {
                    background: #98ff74;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 5px 5px 0px 0px;
                    background: linear-gradient(
                        180deg,
                        rgba(0, 0, 0, 0.24) -72.24%,
                        rgba(0, 0, 0, 0.24) 100%
                    );
                    .insidelink {
                        .txt {
                            color: #fff;
                        }
                    }
                }
                padding: 5px 12px 5px 12px;
                margin: 0px 12px 0px 12px;
                .insidelink {
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;
                    gap: 5px;
                    .img {
                        width: 20px;
                        height: 20px;
                        margin: 0 5px 0 0;
                    }
                    .txt {
                        font-family: 'Manrope';

                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 150%;
                        color: #c7cdf1;
                    }
                }
            }

            .active {
                transform: translateX(0);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px 5px 0px 0px;
                background: linear-gradient(
                    180deg,
                    rgba(0, 0, 0, 0.24) -72.24%,
                    rgba(0, 0, 0, 0.24) 100%
                );
                .insidelink {
                    .txt {
                        color: #fff;
                    }
                }
            }
            .notification {
                position: absolute;
                top: 3px;
                right: 0;
                background: #e41e3f;
                border-radius: 50px;
                padding: 1px 5px;
                font-size: 13px;
                color: #fff;
            }
        }
    }
    .headerRight {
        display: flex;
        margin: 0 10px 0 0;
        gap: 2px;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        flex-basis: 16%;
        button {
            padding: 0px;
            width: 99px;
            height: 44px;
            flex: none;
            order: 0;
            flex-grow: 0;
            margin: 0 0 0 10px;
            padding: 5px 10px;
            border: none;
            border-radius: 5px;
            background-color: #121212;
            font-weight: 900;
            color: #ffffff;
            font-size: 1rem;
            cursor: pointer;
            &:hover {
                background-color: #3e3e42;
            }
            .txt {
                font-family: 'Manrope';
                font-style: normal;
                font-weight: 700;
            }
        }

        .profile_link {
            display: flex;
            align-items: center;
            gap: 5px;
            cursor: pointer;
            padding: 3px 10px 3px 6px;
            border-radius: 50px;
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
            margin-right: 10px;
        }
        .profile_link img {
            width: 28.7px;
            height: 28.7px;
            border-radius: 50%;
            border: 1px solid #27272a;
        }

        .profile_link .insidelink {
            display: flex;
            align-items: center;
            flex-flow: row wrap;
        }
        .profile_link .insidelink .txt {
            margin-left: 5px;
        }
    }
}

// Responsive

@media (max-width: 1440px) {
    .headerLeft {
        .cdimg {
            display: none;
        }
    }
    .headerRight {
        .profile_link .txt {
        }
        .SignIn {
        }
        .register {
            display: none;
        }
    }
}

@media (max-width: 1128px) {
    .header {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        .headerLeft {
        }
        .headerCenter {
            justify-content: center;
            align-items: center;
            flex-basis: 60%;

            .insidelink {
                .txt {
                    display: none;
                }
            }
        }
        .headerRight {
            align-items: center;
            justify-content: center;

            flex-basis: 20%;
        }
    }
}

@media (max-width: 1024px) {
    .header {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        .headerLeft {
        }
        .headerCenter {
            justify-content: center;
            align-items: center;
            flex-basis: 60%;

            .insidelink {
                .txt {
                    display: none;
                }
            }
        }
        .headerRight {
            align-items: center;
            justify-content: center;
            flex-basis: 20%;
            .profile_link .txt {
                display: none;
            }
        }
    }
}

@media (max-width: 768px) {
    .header {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        .headerLeft {
            display: none;
        }
        .headerCenter {
            justify-content: center;
            align-items: center;
            flex-basis: content;
            .insidelink {
                .txt {
                    display: none;
                }
            }
        }
        .headerRight {
            align-items: center;
            justify-content: center;
            flex-basis: content;
            .profile_link .txt {
                display: none;
            }
        }
    }
}
@media (max-width: 580px) {
    .headerRight {
        button {
            max-width: 40px;
            .txt {
                font-size: 10px;
                font-weight: 100;
            }
        }
        .SignIn {
        }
        .register {
            display: none;
        }
    }
}

@media (max-width: 460px) {
    .headerCenter {
        justify-content: space-evenly;
        align-items: center;
        flex-basis: content;
        .links {
            width: 10px;
        }
    }
    .headerRight {
        button {
            max-width: 40px;
            .txt {
                font-size: 10px;
                font-weight: 100;
            }
        }
        .SignIn {
        }
        .register {
            display: none;
        }
    }
}

@media (max-width: 404px) {
    .header {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;

        .headerLeft {
            display: none;
        }
        .headerCenter {
            justify-content: space-evenly;
            align-items: center;
            flex-basis: content;
            .links {
                width: 10px;
            }
            .insidelink {
                .txt {
                    display: none;
                }
            }
        }
        .headerRight {
            align-items: center;
            justify-content: center;
            flex-basis: content;

            .profile_link .txt {
                display: none;
            }
        }
    }
}

@media (max-width: 320px) {
    .header {
        .headerLeft {
        }
        .headerCenter {
            justify-content: space-evenly;
            align-items: center;
            flex-basis: content;
            .links {
                width: 10px;
            }
            .insidelink {
                .txt {
                    display: none;
                }
            }
        }
        .headerRight {
            display: none;
        }
    }
}
